.navbar {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 2;
  width: 100%;
  margin-top: 10px;
}
.navbarchange {
  background-color: black;
  position: fixed;
  z-index: 2;
  width: 100%;
}
.search {
  color: red;
  background-color: transparent;
  border: none;
  width: 200px;
  height: 60px;
  font-weight: bold;
  font-size: 30px;
}
.logosearch {
  width: 50px;
  height: 60px;
  background-color: transparent;
  border: none;
  float: right;
  margin-right: 30px;
}
