.title {
  color: white;
}
.info > p {
  color: white;
  /* width: 500px; */
}
.info {
  margin-left: 60px;
  flex: 1;
}
.movieDetail {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.youtube {
  width: 720px;
  flex: 2;
  margin-left: 50px;
}
