.title {
  color: white;
}
.info p {
  color: white;
  width: 500px;
}
.movieDetail {
  position: absolute;
  z-index: 2;
  background-color: black;
  margin-top: 200px;
  margin-left: -20px;
  width: 1280px;
  display: flex;
  justify-content: space-between;
}
