.text {
  color: white;
  margin-left: 20px;
}
.img {
  width: 150px;
  height: 200px;
  margin: 10px 10px;
}
.showresults {
  display: flex;
  flex-wrap: wrap-reverse;
}
.border {
  width: 100%;
  margin-top: 50px;
}
.info {
  z-index: 2;
  position: relative;
}
.nomovies {
  color: white;
  font-size: 30px;
  margin: auto;
  padding: 20px 0px;
}
